@import url('https://fonts.googleapis.com/css2?family=Texturina:wght@300&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header {
    background-image: url("./imges/leaves.jpeg");
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 100%);
    min-height: 100vh;
    min-width: 90vw;
    
    /* position: absolute;
    top: 0;
    left: 0; */
}

.name {
    position: relative;
    top: 250px;
    text-align: center;
    font-weight: 300;
    font-size: 30px;
    color: #fff;
    font-family: 'Texturina', serif;
    animation-name: moveInLeft;
    animation-duration: 2s;
}

@keyframes moveInLeft {
    0% {
      opacity: 0;
      transform: translateX(-100px); }
    80% {
      transform: translateX(20px); }
    100% {
      opacity: 1;
      transform: translate(0); 
    } 
}

.social {
    text-align: center;
    position: relative;
    top: 48vh;
}

.social a{
    text-decoration: none;
    padding: 0 10px 0 10px;
}

.about {
  height: 80vh;
}
.about-me {
  z-index: 2000;
  text-align: center;
  max-width: 50vw;
  margin: auto;
  padding: 0 2rem;
  overflow: hidden;
  display: inline-block;
  float: left;
}
.profile {
  /* width: 50vw; */
  float: right;
  display: inline-block;
}
.about-h2 {
  padding: 10px;
  font-size: 28px;
  animation-name: moveInLeft;
  animation-duration: 2s;
  font-family: 'Texturina', serif;
}
.about-p {
  font-size: 20px;
  padding: 10px;
  font-family: 'Texturina', serif;
}
.resume {
  display: block;
  padding: 5px;
  margin-top: 10px;
  text-decoration: none;
  font-size: 15px;
  font-weight: 500;
  font-family: 'Texturina', serif;
}

.btn {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  display: inline-block;
  border-radius: 100px;
  transition: all 0.2s;
  position: relative;
  border: none;
  cursor: pointer; 
}

.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  display: inline-block;
  border-radius: 100px;
  transition: all 0.2s;
  position: relative;
  border: none;
  cursor: pointer; 
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); 
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); 
}

.btn-green {
  background-color: #239B56; 
  color: #fff; 
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; 
}

.btn-green::after {
  background-color: #239B56; 
}

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0; 
}